.courseSearchBarContainer {
  margin: 12px;
  padding: 24px;
}

.selectedFilters {

}

.searchComponentsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 24px;
}

.semesterFilterDropdown {

}

.branchFilterDropDown {

}

.searchBar {

}