.clubFullPageContainer .headingContainer{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-bottom: 0.25px solid gray;
}

.headingContainer h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.clubImageContainer {
  text-align: center;
}

.clubImage {
  border-radius: 17.5px;
  height: 351px;
  width: 1091px;

}

.clubDescription {
  margin-top: 24px;
  margin-bottom: 24px;
}

.clubLeaders {

}

.holdersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
}

.postHolderCardDiv {
  margin: 24px;
}

.clubSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}