.clubsPageMainContainer .headingConatiner {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-bottom: 0.25px solid gray;
}

.headingConatiner h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.clubsList {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}