.cardContainer {
    padding: 1.5rem;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    background-color: gray;
    margin: 8px;
    position: relative;
}

.namingSection {
    display: flex;
    flex-direction: row;
}

.clubLogoContainer {

}

.clubLogo {
    width: 64px;
    height: 64px;
}

.clubNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12px;
}

.alias {
    font-size: 1.25rem;
}

.clubTypeContainer {
    padding: 12px;
}

.clubSocials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    min-width: 88%;
}
.clubSocial {
    font-size: 2rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-radius: 15px 15px 0 0;
    margin: 0 0.5rem 0 0.5rem;
    background-color: darkgray;
}